body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #FFFF;

    background: #8A71C9;
    margin: 0 0 30px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
}

.principal {
    background: #FF6CB5;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
}

.principal li {
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}

.principal ul li a {
    color: #FFFF;
    font-weight: normal;
    text-decoration: underline;
}

h2 {
    color: #2A0074;
    font-size: 40px;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

img {
    width: 100%;
}

h3 {
    font-size: 22px;
    font-style: italic;
}

.titulo-verde {
    color: #04FF9F;
}

.titulo-vermelho {
    color: #FF9E9E;
}

.titulo-amarelo {
    color: #ffe36d;
}

section {
    /*   background-color:#ffe36d ; */
    width: 60%;
    margin: 0 auto;
}

section section {
    width: 100%;
}

ul {
    list-style: none;
    line-height: 2;
    padding-left: 0;
}


a {
    text-decoration: none;
    color: #99ffff;
    font-weight: bold;
}

button {
    background-color: #41f341;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
}